<div class="admin-dashboard-container">
    <div id="bg">
        <canvas></canvas>
        <canvas></canvas>
        <canvas></canvas>
    </div>
    <div class="banner-container">
        <h2>Chào Mừng Đến Trang Quản Trị</h2>
        <h6>Bạn có thể quản trị website tại đây</h6>
        <div class="db-user-info">
            <img src="<%= response.current_user?.avatar?.path ? `${server_url}/${response.current_user?.avatar?.path}` : '/assets/images/default-avatar.jpg' %>" alt="Avatar" class="avatar">
            <h1><%= response.current_user.name %></h1>
            <h6><%= response.current_user.email %></h1>
        </div>
    </div>
    
    <div class="row">
        <% if (response.dashboard_summary) { %>
            <% response.dashboard_summary.forEach(function(item) { %>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="dashboard-info">
                        <h6><%= item.name %></h6>
                        <h1><%= item.total %></h1>
                        <a href="<%= item.href %>">Xem chi tiết</a>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>

    <div class="row">
        <% if (response.order_summary) { %>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="dashboard-info">
                    <h6>Thống kê trạng thái đơn hàng:</h6>

                    <div class="order-status">
                        <% for (let status in response.order_summary) { %>
                            <div class="status"><%- response.helper.renderKeyLabel('order_status', status) %> (<%= response.order_summary[status] %> Đơn)</div>
                        <% } %>
                    </div>

                    <a href="admin/orders">Xem chi tiết</a>
                </div>
            </div>
        <% } %>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="dashboard-info">
                <a href="admin/logs">Xem nhật ký hệ thống</a>
            </div>
        </div>
    </div>
</div>

<script src="/assets/libraries/jquery/2.1.3/jquery.min.js"></script>
<script src="/assets/js/bg-animate.js"></script>