<div class="container product-detail-container">
    <div class="row session-row">
        <div class="row-title">
            <svg class="icon icon-info"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-info"></use></svg>
            Thông Tin Mô Tả
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div>
                <%- include('../components/thumbCarousel', {
                    slides: response.product.product_gallery || []
                }) %>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div>
                <div class="product-info">
                    <div class="name"><%= response.product.product_name %></div>
                </div>
                <div class="product-info">
                    <div class="tag"><%= response.product.product_code %></div>
                    <div class="tag"><a href="/<%= response.product.category.slug %>"><%= response.product.category.name %></a></div>
                </div>
                <div class="product-info">
                    <div class="price">
                        <div class="new-price"><%= response.helper.addCommasToNumber(response.helper.calcPrice(response.product.product_price, response.product.product_discount)) %></div>
                        <% if(response.product.product_discount > 0) { %>
                            <del class="old-price"><%= response.helper.addCommasToNumber(response.product.product_price) %></del>
                        <% } %>
                    </div>
                </div>
                <div class="product-info">
                    <div><%= response.product.product_summary %></div>
                </div>
                <div class="product-info">
                    <div class="html"><%- response.product.product_specifications %></div>
                </div>

                <div class="product-actions">
                    <div class="calc-price">
                        <div class="new-price"><%= response.helper.addCommasToNumber(response.helper.calcPrice(response.product.product_price, response.product.product_discount)) %></div>
                        <% if(response.product.product_discount > 0) { %>
                            <del class="old-price"><%= response.helper.addCommasToNumber(response.product.product_price) %></del>
                            <div class="sale-label">-<%= response.product.product_discount %>%</div>
                        <% } %>
                    </div>

                    <div class="select-quantity">
                        <label>Số lượng</label>
                        <button id="decrement_btn">-</button>
                        <input type="number" id="quantity_input" name="quantity" min="1" value="1" disabled />
                        <button id="increment_btn">+</button>
                    </div>
                    
                    <div class="group-buttons">
                        <div class="top-btns">
                            <button class="add-to-cart-btn" id="add_to_cart_btn" data-product="<%= response?.product?._id %>">Thêm vào giỏ</button>
                            <button class="buy-now-btn" id="buy_now_btn" data-product="<%= response?.product?._id %>">Mua ngay</button>
                        </div>
                        <a class="call-btn" href="tel:0123456789">
                            <p>Gọi tư vấn</p>
                            <small>(Miễn phí vận chuyển TPHCM với đơn hàng trên 5.000.000đ)</small>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row session-row">
        <div class="row-title">
            <svg class="icon icon-info"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-info"></use></svg>
            Chi Tiết Sản Phẩm
        </div>

        <div class="col-12">
            <div class="html"><%- response.product.product_description %></div>
        </div>
    </div>
</div>

<!-- Add to cart -->
<script src="/assets/js/cart.js"></script>