<header>
    <nav class="header-nav">
        <div class="container nav-container">
            <button class="open-side-panel-btn">☰</button>
            <div class="icon-nav-info">
                <a href="mailto:noithatthuongphat@gmail.com">
                    <svg class="icon icon-mail nav-info-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-mail"></use></svg>
                </a>

                <a href="tel:0936 27 26 25">
                    <svg class="icon icon-call nav-info-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-call"></use></svg>
                </a>
            </div>

            <div class="nav-info">
                <svg class="icon icon-location nav-info-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-location"></use></svg>
                <a href="https://maps.app.goo.gl/e6DfGqmtJK9KViQo8" target="_blank">Thành phố Hồ Chí Minh</a>
            </div>
            <div class="nav-info">
                <svg class="icon icon-mail nav-info-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-mail"></use></svg>
                <a href="mailto:support@nghiendecor.com">support@nghiendecor.com</a>
            </div>
            <div class="nav-info">
                <svg class="icon icon-call nav-info-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-call"></use></svg>
                <a href="tel:0123 456 789">0123 456 789</a>
            </div>
        </div>
    </nav>
    <div class="container header-container">
        <div class="header-top">
            <div class="logo">
                <a id="menu_item" href="/"><img src="/assets/images/logo.svg" alt="logo" /></a>
            </div>
            <div class="search">
                <div class="search-container">
                    <input type="text" id="search-input" placeholder="Tìm kiếm sản phẩm..." autocomplete="off">
                    <div id="suggestions"></div>
                </div>
            </div>
            <div class="user-cart">
                <% if (currentUser) { %>
                    <div class="current-user">
                        <div class="dropdown">
                            <img id="click-dropdown" class="avatar" src="/assets/images/default-avatar.jpg" alt="avatar" />
                            
                            <div id="dropdown-content" class="dropdown-content user-dropdown-menu">
                                <img class="avatar" src="/assets/images/default-avatar.jpg" alt="avatar" />
                                <div class="username"><%= currentUser.name %></div>
                                <div class="email"><%= currentUser.email %></div>
                                <a href="/account/profile">Hồ sơ</a>
                                <a class="logout-btn" href="/logout"><svg class="icon icon-log-out"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-log-out"></use></svg>Đăng Xuất</a>
                            </div>
                        </div>
                    </div>

                    <div class="cart">
                        <div class="number" id="number-item"><%= total_items_in_cart %></div>
                        <a href="/cart">
                            <svg class="icon icon-cart"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-cart"></use></svg>
                        </a>
                    </div>

                <% } else { %>
                    <a href="/signin" class="login-link">
                        <svg class="icon icon-user-circle"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-user-circle"></use></svg>
                        Đăng Nhập / Đăng Ký
                    </a>
                <% } %>
            </div>
        </div>
        <div class="header-menu">
            <ul class="menu-list">
                <li><a id="menu_item" href="/">Trang Chủ</a></li>
                <li><a id="menu_item" href="/about">Giới Thiệu</a></li>

                <% function renderCategories(categories) { %>
                    <% categories.forEach(category => { %>
                        <li>
                            <a id="menu_item" href="<%= `/${category.slug}` %>"><%= category.name %></a>
                            <% if (category.sub_category && category.sub_category.length > 0) { %>
                                <ul class="submenu">
                                    <%= renderCategories(category.sub_category) %>
                                </ul>
                            <% } %>
                        </li>
                    <% }) %>
                <% } %>
                <%= app_categories && renderCategories(app_categories) %>

                <li><a id="menu_item" href="/contact">Liên Hệ</a></li>
            </ul>
        </div>
    </div>

    <div id="sidepanel" class="side-panel">
        <div class="close-side-panel-btn">×</div>

        <ul class="menu-collapsible">
            <li><a id="menu_item" href="/">Trang Chủ</a></li>
            <li><a id="menu_item" href="/about">Giới Thiệu</a></li>

            <% function renderSidePanelCategories(categories) { %>
                <% categories.forEach(category => { %>
                    <li>
                        <div class="mainmenu">
                            <a id="menu_item" href="<%= `/${category.slug}` %>"><%= category.name %></a>
                            <% if (category.sub_category && category.sub_category.length > 0) { %>
                                <button class="toggle-submenu-btn"></button>
                            <% } %>
                        </div>
                        <% if (category.sub_category && category.sub_category.length > 0) { %>
                            <ul class="submenu">
                                <%= renderSidePanelCategories(category.sub_category) %>
                            </ul>
                        <% } %>
                    </li>
                <% }) %>
            <% } %>
            <%= app_categories && renderSidePanelCategories(app_categories) %>

            <li><a id="menu_item" href="/contact">Liên Hệ</a></li>
        </ul>

    </div>
</header>

<div class="app-bar">
    <div class="app-bar-side">
        <div class="app-bar-element open-side-panel-btn">
            <a class="app-bar-inner">
                <svg class="icon icon-categories page-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-categories"></use></svg>
                <div>Danh Mục</div>
            </a>
        </div>
        <div class="app-bar-element">
            <a class="app-bar-inner" id="menu_item" href="/about">
                <svg class="icon icon-info page-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-info"></use></svg>
                <div>Giới Thiệu</div>
            </a>
        </div>
    </div>
    <div class="app-bar-center">
        <img src="/assets/icons/combined-shape.svg" alt="" class="shape-icon" />
        <div class="app-bar-element">
            <a class="app-bar-inner" id="menu_item" href="/">
                <svg class="icon icon-home page-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-home"></use></svg>
                <div>Trang Chủ</div>
            </a>
        </div>
    </div>
    <div class="app-bar-side">
        <div class="app-bar-element">
            <a class="app-bar-inner" id="menu_item" href="/contact">
                <svg class="icon icon-contacts page-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-contacts"></use></svg>
                <div>Liên Hệ</div>
            </a>
        </div>
        <div class="app-bar-element">
            <a class="app-bar-inner" id="menu_item" href="/user">
                <svg class="icon icon-user-circle page-icon" style="fill: #202020;"><use xlink:href="/assets/icons/icomoon/symbol-defs.svg#icon-user-circle"></use></svg>
                <div>Người Dùng</div>
            </a>
        </div>
    </div>
</div>

<script src="/assets/js/header-menu.js"></script>
<script src="/assets/js/search.js"></script>