<div class="com-form">
    <form method="POST" action="<%= next_route %>" enctype="multipart/form-data" id="main-form">
        <% fields_config.forEach(function(field) { %>
            <div class="form-group <%= field.field_type %>">
                <label for="<%= field.field_name %>"><%= field.field_label %></label>
                <% if (field.field_type === 'textarea') { %>
                    <textarea id="<%= field.field_name %>" name="<%= field.field_name %>" <%= field.is_required ? 'required' : '' %>><%= default_values[field.field_name] || '' %></textarea>
                <% } else if (field.field_type === 'select') { %>
                    <select id="<%= field.field_name %>" name="<%= field.field_name %>" <%= field.is_required ? 'required' : '' %>>
                        <% field.options.forEach(function(option) { %>
                            <option value="<%= option.value %>" <%= option.value === (default_values[field.field_name] || '') ? 'selected' : '' %>><%= option.label %></option>
                        <% }); %>
                    </select>
                <% } else if (field.field_type === 'checkbox') { %>
                    <input type="checkbox" id="<%= field.field_name %>" name="<%= field.field_name %>" <%= default_values[field.field_name] ? 'checked' : '' %> <%= field.is_required ? 'required' : '' %>>
                <% } else if (field.field_type === 'file') { %>
                    <input type="file" id="<%= field.field_name %>" name="files" class="file-input" data-preview-target="file-preview-<%= field.field_name %>" <%= field.is_required ? 'required' : '' %>>
                    <div class="form-file-preview">
                        <img id="file-preview-<%= field.field_name %>" src="<%= default_values[field.field_name] ? `${server_url}/${default_values[field.field_name].path}` : '' %>" alt="">
                    </div>
                <% } else if (field.field_type === 'editor') { %>
                    <div id="<%= field.field_name %>" class="jodit-editor"></div>
                    <input type="hidden" id="<%= field.field_name %>-input" name="<%= field.field_name %>" value="<%= default_values[field.field_name] || '' %>">
                    <div id="config-data" style="display: none;" data-serverurl="<%= server_url %>"></div>
                <% } else { %>
                    <input type="<%= field.field_type %>" id="<%= field.field_name %>" name="<%= field.field_name %>" value="<%= default_values[field.field_name] || '' %>" <%= field.is_required ? 'required' : '' %>>
                <% } %>
            </div>
        <% }); %>

        <div class="form-footer">
            <a class="btn-cancel" href="<%= back_route %>">Hủy</a>
            <button type="submit" class="btn-save">Lưu</button>
        </div>
    </form>
</div>

<!-- Jodit editor -->
<link rel="stylesheet" href="/assets/libraries/jodit/es2021/jodit.min.css">
<script src="/assets/libraries/jodit/es2021/jodit.min.js"></script>
<script src="/assets/js/form.js"></script>